<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>{{job.title}}</h1>
        <p>{{job.description}}</p>
        <a href="/apply/{{job.id}}" class="button">Apply Now</a>
    </div>
</body>
</html>
