<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/login" method="POST" style="border: 2px solid black; margin-left:40px; background-color:lightgreen">
      <label for="username" style="margin-left: 10px;margin-right:10px">Username:</label>
      <input type="text" id="username" name="username" required style="margin-left: 10px;margin-right:10px">
      <label for="password" style="margin-left: 10px;margin-right:10px">Password:</label>
      <input type="password" id="password" name="password" required style="margin-left: 10px;margin-right:10px">
      <button type="submit" style="margin-left: 10px;margin-right:10px;margin-bottom: 20px;">Login</button>
    </form>
  </div>
</body>
</html>
